{% extends "noticias/basepropietario.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}

<header>
      <div class="container">
      <div class="row">

        <nav class="navbar navbar-inverse navbar-cutom-menu">
          

          <div class="navbar-header">
                  <ul class="user-info pull-left">          
                    <li class="profile-info dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <img width="44" class="img-circle avatar" alt="" src="{% static 'images/usuario.png' %}"> {{ user.username }} <span class="caret"></span></a>
        
        <!-- User action menu -->
                      <ul class="dropdown-menu">
                        <li><a href="#/"><i class="icon-user"></i><a href="{% url 'perfil' %}">Perfil</a></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-cog"></i>Configuración de cuneta</a></li>
                        <li><a href="#"><i class="icon-logout"></i><a href="{% url 'logout' %}">Salir</a></li>
                      </ul>
                  </ul>
          </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
        
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Servicio A</a></li>
                    <li><a href="#">Servicio B</a></li>
                    <li><a href="#">Servicio C</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Todos los servicios</a></li>
                  </ul>
                <li><a href="#">Contacto</a></li>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

      </div>
    </div>


  </header>

    <div class="container">
      <div class="col-lg-9 col-sm-12">
        <div class="well row">


          <div class="col-md-12">
            <h1>Edición datos</h1>
            <hr>
            <form method="post">{% csrf_token %}
            {{ form}}
            <br><br><br>
            <input type="submit"  value="Aceptar" class="btn btn-primary pull-right btn-lg">
            </form>
            
          </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}